/*ОБЩИЕ СТИЛИ*/
body {
    background: #0076c1;
}
#container {
    width: 100%;
    margin: 0 auto;   
    border: solid #efefef 0px;
    margin-left: 23%;


}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 25px;

}
a:hover {
    text-decoration: underline;
    color: blue;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: AntiqueWhite;
    font-family: SEGOE PRINT;
    margin-left: 40%;
}

h3 {
    font-size: 17px;
    font-family: COMIC SANS MS;
    color: Indigo;

}
p {
    text-indent: 30px;
    font-family: Helvetica;
}
.p {
    font-family: COMIC SANS MS;
    /*выравнивание текста по центру*/
    text-align: center;
    /*размер шрифта*/
    font-size: 24px;
    /*жирный текст*/
    font-weight: bold;
    color: #efefef;
}
.Ht {
    color: AntiqueWhite;
    text-decoration: none;
    text-indent: 10px;
}
.Ht:hover {
    color: AntiqueWhite;
    text-decoration: none;
}



/*ШАПКА*/
#header {
    height: 200px;
    width: 100%;
    background-color: #173d9d;
    /*margin: 10px auto;*/
    border-radius: 4px;
    margin-top: -8px;
}
#title {
    height: 200px;
    width: 1300px;
    float: left;
}
#form {
    height: 200px;
    width: 200px;
    float: right;
    background: #173d9d;
    border-radius: 10px;
}
.menu {
    font-size: 20px;
    text-align: left;
    font-family: stylus bt;
    /*font-weight: bold;*/
    color: AntiqueWhite;
    text-indent: 30px;
}
.a {
    text-decoration: none;  
    color: AntiqueWhite;
/*    background-color: #454957;*/
    
}
.a:hover {
    text-decoration: underline;
    color: Yellow;
}
.pForm {
    color: #efefef;
    text-align: left;
    text-indent: 0px;
    font-family: COMIC SANS MS;
}
.fForm {
    border-radius: 5px;
    font-family: times new roman;
    width: 190px;
    height: 17px;
}
.bForm {
    height: 30px;
    width: 95px;
    margin-top: 5px;
    /*border-radius: 7px;*/
    background: #454957;
    color: #efefef;
    /*font-weight: bold;*/
    font-family: COMIC SANS MS;



}
#reg {
    text-decoration: none;
    color: #efefef;

}





/*ЦЕНТРАЛЬНАЯ ОБЛАСТЬ*/
/*index.php*/
#content {
    height: 230px;
    width: 950px;
    float: left;
    font-family: Helvetica;
    margin-left: 15px ;

    padding: 7px;
    border-style: inset;
    background: #ffffff;
    text-align: justify;
    color: black;
    border-radius: 10px;
    border-color:  #173d9d;
}
.date{
    float: right;
    text-align: right;
    color: red;
    font-family: Verdana;
    font-weight: bold;
    font-size: 11pt;
}
.name{
    font-size: 14pt;
    color: red;
    font-weight: bold;
}
.src{
    width: 100%;
    float: right;
    text-align: right;
}
.pag {
    width: 950px;
    float: left;
    margin-left: 15px ;
    padding: 7px;
    border-style: inset;
    background: #ffffff;
    text-align: justify;
    color: black;
    border-radius: 10px;
    border-color: #173d9d;
}
.aPag {
    font-family: cursive;
    float: right;
}
.aPagDest {
    font-family: cursive;
    float: right;
    pointer-events: none;
    color: grey;
}
.active {
    text-decoration: underline;
    font-family: cursive;
    float: right;
    color: blue;
}

/*Single.php*/
#singleContent {
    width: 950px;  
    float: left;
    margin-left: 15px ;
    padding: 7px;
    border-style: inset;
    background: #ffffff;
    text-align: justify;
    color: black;
    border-radius: 10px;
    border-color: #173d9d;
}
.singleTextarea {
    background: url(images/line.png) repeat-y;
    width: 670px;
    height: 150px;
    border-radius: 10px;
    border: solid 1px #ddd;
    font-family: verdana;
    font-size: 14pt;
    resize: none;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;   
}


/*ArticleTable.php*/
table {
    width: 950px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    float: left;
    margin-left: 25px ;
}

th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #E8E6D1;
}
/*AddArticle.php*/
.redactor {
    width: 950px;
    height: 1000px;
}
.title {
    font-size: 16pt;
    font-family: SEGOE PRINT;
    color: #efefef;
    text-align: left;

}
.titleForm {
    background: url(images/line.png);
    width: 670px;
    height: 26px;
    border-radius: 10px;
    font: normal 14px verdana;
    padding: 2px 10px;

}
.textarea {
    background: url(images/line.png) repeat-y;
    width: 670px;
    height: 550px;
    border-radius: 10px;
    border: solid 1px #ddd;
    font-family: verdana;
    font-size: 14pt;
    resize: none;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;


}
.subAdd {
    height: 30px;
    width: 95px;
    margin-top: 5px;
    border-radius: 7px;
    background: Crimson;
    color: #efefef;
    margin-left: 600px;  
    font-weight: bold;
    font-family: COMIC SANS MS;
}

/*ChangeArticle.php*/
.bRed {
    margin-left: 15px;
    color: #efefef;
}

/*Register.php*/
#regist {
    width: 950px;
    float: left;

}

.input {
    font: normal 14px COMIC SANS MS;
    margin-left: 200px;
    border-radius: 5px;
    width: 300px;

}
.fName {
    margin-left: 170px;
    font: normal 16px COMIC SANS MS;
    color: #efefef;
}
#bReg {
    height: 30px;
    margin-top: 5px;
    border-radius: 7px;
    background: Crimson;
    color: #efefef;
    font-weight: bold;
    font-family: COMIC SANS MS;
}









/*ПОДВАЛ*/
#footer {
/*width: 99%;
height: 200px;
background-color: #173d9d;
 clear: both; 
margin-bottom: -8px;

border-radius: 4px;*/
}




