body {
    background: #efefef;
}
#container {
    /*ширина*/
    width: 1500px;
    /*поля auto автоматически 0 полей нет*/
    margin: 0 auto;   
    /*Border - граница блока.solid - сплошная линия;#CCCCCC - цвет линии;1px - ее толщина в пикселях.*/
    border: solid #efefef 12px;
}
#header {
    height: 200px;
    width: 1500px;
    background-color: #efefef;
    margin: 10px auto;
}
#leftside {
    /*цвет фона*/
    background-color: #efefef;
    /*высота*/
    height: 1250px;
    /*ширина*/
    width: 250px;
    float: left;
    margin-left: 30px;
    
}
#rightside {
    background-color: #efefef;
    /*background-color: antiquewhite;*/
    height: 1250px;
    width: 250px;
    float: right;
    margin-right: 30px;
    
}
#content {
    /*background-color: #CCFFCC;*/
    height: 230px;
    width: 900px;
    float: left;
    margin-left: 10px ;
    padding: 7px;
    border-style: double;
    background: #fff;
    /*background: activecaption;*/
    text-align: justify;
    color: black;
    /*margin: 5px auto;*/
}
#footer {
    height: 200px;
    width: 1500px;
    background-color: #efefef;
    margin: 10px auto;
     clear: both; 
   
}

.date{
        float: right;
        text-align: right;
        color: red;
        font-family: Verdana;
        font-weight: bold;
        font-size: 11pt;
}
.name{
	font-size: 14pt;
        color: red;
        font-weight: bold;
}
.src{
        width: 100%;
         float: right;
        text-align: right;
}

h1 {
	font-size: 40px;
	text-align: center;
	color: Navy;
	font-family: Verdana;
}

h3 {
        font-size: 17px;
        font-family: Verdana;
        color: Indigo;
   
}
p {
         text-indent: 30px;
}
.p {
    /*выравнивание текста по центру*/
    text-align: center;
    /*размер шрифта*/
    font-size: 24px;
    /*жирный текст*/
    font-weight: bold;
    color: MidnightBlue;
}